<% if @providers.count > 0 %>

  <%= link_to 'Add Provider', new_provider_path, :class => 'btn btn-primary pull-right' %>

  <h1>Providers</h1>
	<p>This is where you can manage of your company field employees. In order to assign an appointment to a particular employee they need to be included in the list.</p>
	

  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
    </tr>

  <% @providers.each do |provider| %>
    <tr>
      <td><%= link_to provider.name, provider %></td>
      <td><%= provider.email %></td>
      <td><%= provider.phone %></td>
      <td>
        <%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_provider_path(provider), :class => 'btn btn-primary btn-mini' %>
        <%= link_to raw('<i class="icon-trash icon-white"></i> Delete'), provider, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-mini' %>
      </td>
    </tr>
  <% end %>
  </table>

<% else %>

<p>Looks like you don't have any providers yet.</p>
<p>Providers are the people that do the house calls.</p>

<p><%= link_to 'Add Your First Provider', new_provider_path, :class => 'btn btn-primary btn-block btn-large' %></p>

<% end %>
