<h1>Provider Info</h1>
<div class="pull-right">
  <%= link_to raw('<i class="icon-edit icon-white"></i> Edit Info'), edit_provider_path(@provider), :class => 'btn btn-primary' %>
  <%= link_to raw('<i class="icon-trash icon-white"></i> Delete'), @provider, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
</div>

<p>
  <b>Name:</b>
  <%= @provider.name %>
</p>

<p>
  <b>Email:</b>
  <%= @provider.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @provider.phone %>
</p>
