<h1>Customer Info</h1>
	<p>
	  <b>Name:</b>
	  <%= @customer.name %>
	</p>

	<p>
	  <b>Email:</b>
	  <%= @customer.email %>
	</p>

	<p>
	  <b>Phone:</b>
	  <%= @customer.phone %>
	</p>

	<p>
		<%= link_to raw('<i class="icon-plus icon-white"></i> Add Appointment'), new_appointment_path(:customer_id => @customer.id), :class => 'btn btn-success btn-mini' %> | 
		<%= link_to 'Edit Customer Info', edit_customer_path(@customer) %> |
		<%= link_to 'View All Customers', customers_path %>
	</p>
	