<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "OnMyWay" %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<h3>Finding Mark's Location:</h3>

<div id="mapContainer" style="width: 100%; height: 500px; margin: auto;"></div>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

  var marker = null;
  var map = null;
  function track() {
    $.getJSON('/providers/track', {}, function(data) {
      var position = data;
      $('p').prepend(JSON.stringify(position) + "<br/>");
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
      var coords = new google.maps.LatLng(latitude, longitude);
      var mapOptions = {
        zoom: 15,
        center: coords,
        mapTypeControl: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      if (marker) {
        marker.setPosition(coords);
      } else {
        map = new google.maps.Map(document.getElementById("mapContainer"), mapOptions);
        marker = new google.maps.Marker({
          icon : { url : 'http://i.stack.imgur.com/orZ4x.png', size: new google.maps.Size(22, 22), origin: new google.maps.Point(0, 0), anchor: new google.maps.Point(11,11) },
          position: coords,
          map: map,
          title: "Mark's current location!"
        });
      }
    });
    setTimeout(track, 5000);
  }
  track();

</script>

<p></p>

</body>
</html>
