<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "OnTheWay" %></title>
		<meta name="description" content="">
		<meta name="author" content="">
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
	</head>
	<body>
		<div id="main" role="main" class="landing">
			<div class="container">
				<div class="content">
					<div class="row">
						<div id="home" class="span12">
							<div class="well span6 left">
								<div class="row-fluid">
									<div class="centered">
										<div class="logo"><%= link_to image_tag("logo.png"), root_path %></div>
									</div>
									<div class="span12">
										<h4 class="centered">Tired of waiting for your service provider?</h4>
										<p>Can you imagine being told by a doctors office, "Your appointment will be between 8am-Noon"?</p>
										<p><strong>Neither can we.</strong> So, why accept a service window from you home service providers?</p>
										<p><strong>OnTheWay</strong> partners with your plumber, handyman, or delivery service to get rid of those annoying service windows and give you an accurate arrival time.</p>	
										<br>			
										<p class="centered">		
										 <a href="/appointment" class="btn btn-large btn-success">Get Updates</a>	
										</p>					
									</div>
								</div><!--row-->
							</div><!--well-->
						</div>
					</div>
				</div>
			</div>
		</div> <!--! end of .container -->
	</div> <!--! end of #main -->

	<div class="container how-it-works">
		<div class="row">
			<div class="span12 centered">
				<h1>How It Works</h1>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h3>1.) Appointment Info</h3>
				<p>Enter your appointment info - the <strong>Who</strong>, <strong>What</strong> and <strong>When</strong>. We then use this to verify your appointment with the service provider.</p>
			</div>
			<div class="span4">
				<h3>2.) Partner with Provider</h3>
				<p>We work with your provider to get you a more defined appointment time throughout the day.</p>
			</div>
			<div class="span4">
				<h3>3.) You Get Updates</h3>
				<p>We email updates with your provider's estimated arrival time. No more waiting around for hours on end, now you can plan to be home when they actually arrive.</p>
			</div>
		</div><!--row-->
		<hr>
		<div class="row">
			<div class="span12 centered">
				<h3>How much does it cost? - $0</h3>
				<p><strong>OnTheWay</strong> is free for customers during our beta period.</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="span12 centered">
				<h3>Are you a home service provider?</h3>
				<p><strong>OnTheWay</strong> makes managing customers easy with automated updates & appointment reminders. Get happier customers by keeping them informed.</p><div><%= button_to "Learn More", "/pro", method: :get, :class => "btn btn-success" %></div>
			</div>
		</div>
	</div><!--container-->

	<footer>
		<div class="container">
			<hr>
			<!--<p class="pull-right"><a href="#">Privacy</a> | <a href="#">Terms & Conditions</a></p>-->
			<p class="pull-right">&copy; 2013 OnTheWayHQ.com</p>
		</div>
	</footer>
	<%= render :partial => 'layouts/analytics' %>
	</body>
</html>