<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "OnMyWay" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="landing">
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
				<div id="home" class="span8">
					<div class="row">
						<div class="span8 centered">
							<div class="logo"><%= image_tag("logo-white.png") %></div>
						</div>
					</div>
					<div class="row">
						<div class="span8">
							<div><a href="/"><< Back Home</a></div>
						</div>
					</div>
					<div class="well">
						<div class="row">
							<div class="span4">
								<p><strong>OnTheWay</strong> is a productivity tool for service providers who want to create a better experience for their customers.</p>
								<ul>
									<li><strong>Decrease customer service calls</strong> - Customers now have an automated view into your progress.</li>
									<li><strong>Improve customer retention</strong> - Happy Customers = Repeat Business</li>	
									<li><strong>Increase referrals</strong> - Happy Customers = More Referrals</li>
									<li><strong>Social Exposure</strong> - Get mentioned on Facebook and Twitter as soon as your appointment is done.</li>
								</ul>
								<p>Interested in trying out <strong>OnTheWay?</strong> tell us about your business and we'll contact you about becoming a beta tester.</p>
							</div><!--span4-->
							
							
							<div class="span3">
								<h3>Want Happier Customers?</h3>
								<p><i>Tell us about your company and one of our team members will call you with details on </i><p>
								<form action="http://ontheway.createsend.com/t/i/s/vyhk/" method="post" id="subForm">
								<div>
								<input type="text" name="cm-name" id="name" placeholder="Your Name"/><br />
								<input type="text" name="cm-vyhk-vyhk" id="vyhk-vyhk" placeholder="Your Email" /><br />
								<input type="text" name="cm-f-jdlt" id="PhoneNumber" placeholder="Your Phone Number"/><br />
								<input type="text" name="cm-f-jdlh" id="CompanyName" placeholder="Company Name" /><br />

								<input type="submit" value="Get OnTheWay" class="btn btn-success" />
								</div>
								</form>
							</div><!--span4-->
						</div><!--row-->
					</div><!--well-->
					
					<div class="row">
						<div class="span8 centered">
							<h1>How Does It Work?</h1>
						</div>
					</div>
					<div class="row">
						<div class="span5">
							<h4>1.) The morning of your appointment all of your customers' receive a text with a link to their appointment page.</h4>
						</div>
						<div class="span3 pull-right">
							<div><%= image_tag("place_holder.png")%></div><br />
						</div>
					</div>
					
					<div class="row">
						<div class="span3">
							<div><%= image_tag("place_holder.png")%></div><br />
						</div>
						<div class="span5 pull-right">
							<h4>2.) Your customers get updates on your estimated arrival time as your progress throughout your day.</h4>
						</div>
					</div>
					
					<div class="row">
						<div class="span5">
							<h4>3.) Tell your customer when they're on their way. Running late? Ahead of schedule? No problem, easily send them a text or give them a call.</h4>
						</div>
						<div class="span3 pull-right">
							<div><%= image_tag("place_holder.png")%></div><br />
						</div>
					</div>
					
					<div class="row">
						<div class="span3">
							<div><%= image_tag("place_holder.png")%></div><br />
						</div>
						<div class="span5 pull-right">
							<h4>4.) When you've completed your work your customer is prompted to leave feedback.</h4>
						</div>
					</div>
				
				
				     <div class="row">
						<div class="span5">
							<h4>5.)  Your customer is then prompted to share with their friends.</h4>
						</div>
						<div class="span3 pull-right">
							<div><%= image_tag("place_holder.png")%></div><br />
						</div>
					</div>
					
					<div class="row">
						<div class="span8 centered">
							<a href="/" class="btn-large btn-success">View Full Demo</a>
						</div>
					</div>
				</div>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
				
