<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "OnMyWay" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
        <div id="home" class="span8">
          <div class="row">
            <div class="span8 centered">
              <div class="logo"><%= link_to image_tag("logo.png"), root_path %></div>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <div><a href="/">Go To Homepage</a></div>
            </div>
          </div>
          <div class="well">
            <div class="row">
              <div class="span4">
                <p><strong>OnTheWay</strong> is a tool for service providers who want to create a better experience for their customers.</p>
                <ul>
                  <li><strong>Decrease customer service calls</strong> - Customers now have an automated view into your progress.</li>
                  <li><strong>Improve customer retention</strong> - Happy Customers = Repeat Business</li>
                  <li><strong>Increase referrals</strong> - Happy Customers = More Referrals</li>
                  <li><strong>Social Exposure</strong> - Get mentioned on Facebook and Twitter as soon as your appointment is done.</li>
                </ul>
                <p>Interested in trying out <strong>OnTheWay?</strong> tell us about your business and we'll contact you about becoming a beta tester.</p>

                <p>More questions? Email us at <a href="mailto:info@onthewayhq.com">info@onthewayhq.com</a></p>
              </div><!--span4-->


              <div class="span3">
                <h3>Schedule a Demo</h3>
                <p><i>One of founders will be happy to walk you a live version of the application. Please fill out the form below and we'll be in contact shortly.</i><p>
                <form action="http://ontheway.createsend.com/t/i/s/vyhk/" method="post" id="subForm">
                <div>
                <input type="text" name="cm-name" id="name" placeholder="Your Name"/><br />
                <input type="text" name="cm-vyhk-vyhk" id="vyhk-vyhk" placeholder="Your Email" /><br />
                <input type="text" name="cm-f-jdlt" id="PhoneNumber" placeholder="Your Phone Number"/><br />
                <input type="text" name="cm-f-jdlh" id="CompanyName" placeholder="Company Name" /><br />

                <input type="submit" value="Get OnTheWay" class="btn btn-success" />
                </div>
                </form>
              </div><!--span4-->
            </div><!--row-->
          </div><!--well-->

          <div class="row">
            <div class="span8 centered">
              <h1>How Does It Work?</h1>
            </div>
          </div>
          <div class="row">
            <div class="span5">
              <h4>1.) The morning of your appointment all of your customers' receive a text with a link to their appointment page.</h4>
            </div>
            <div class="span3 pull-right">
              <div><a href="#modal1" data-toggle="modal"><%= image_tag("all_appointments_small.png")%></a></div><br />
            </div>
          </div>

          <div class="row">
            <div class="span3">
              <div><a href="#modal2" data-toggle="modal"><%= image_tag("iphone_1_mini.png")%></a></div><br />
            </div>
            <div class="span5 pull-right">
              <h4>2.) Your customers get updates on your estimated arrival time as your progress throughout your day.</h4>
            </div>
          </div>

          <div class="row">
            <div class="span5">
              <h4>3.) Tell your customer when they're on their way. Running late? Ahead of schedule? No problem, easily send them a text or give them a call.</h4>
            </div>
            <div class="span3 pull-right">
              <div><a href="#modal3" data-toggle="modal"><%= image_tag("appointment_show_small.png")%></a></div><br />
            </div>
          </div>

          <div class="row">
            <div class="span3">
              <div><a href="#modal4" data-toggle="modal"><%= image_tag("feedback_small.png")%></a></div><br />
            </div>
            <div class="span5 pull-right">
              <h4>4.) When you've completed your work your customer is prompted to leave feedback.</h4>
            </div>
          </div>


             <div class="row">
            <div class="span5">
              <h4>5.)  Your customer is then prompted to share with their friends.</h4>
            </div>
            <div class="span3 pull-right">
              <div><a href="#modal5" data-toggle="modal"><%= image_tag("social_small.png")%></a></div><br />
            </div>
          </div>

        </div>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

  <!-- Modal1 -->
  <div id="modal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <%= image_tag("all_appointments_large.png")%>
    </div>
  </div>

  <!-- Modal2 -->
  <div id="modal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <%= image_tag("iphone_1.png")%>
    </div>
  </div>

  <!-- Modal3 -->
  <div id="modal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <%= image_tag("appointment_show_large.png")%>
    </div>
  </div>

  <!-- Modal4 -->
  <div id="modal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <%= image_tag("feedback_large.png")%>
    </div>
  </div>

  <!-- Modal5 -->
  <div id="modal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <%= image_tag("social_large.png")%>
    </div>
  </div>
	<footer>
		<div class="container">
			<hr>
			<p class="pull-right"><a href="/">Home</a> | <a href="/pro">Service Provider?</a> | <a href="#">Privacy</a> | <a href="#">Terms & Conditions</a></p>
			<p>&copy; 2013 OnTheWayHQ.com</p>
		</div>
	</footer>
    <%= render :partial => 'layouts/analytics' %>
  </body>
</html>
