<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "OnTheWay" %></title>
		<meta name="description" content="">
		<meta name="author" content="">
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
	</head>
	<body>
		<div id="main" role="main" class="landing">
			<div class="container">
				<div class="content">
					<div class="row">
						<div id="home" class="span12">
							<div class="well span6 left">
								<div class="row-fluid">
									<div class="centered">
										<div class="logo"><%= link_to image_tag("logo.png"), root_path %></div>
									</div>
									<div class="span12">
										<h4 class="centered">Customer Service Calls Adding Up?</h4>
										<p><strong>OnTheWay</strong> is making it easier to manage your customer service.</p>
										<p>Customers don't want to wait around at home for a service window and are willing to pay a service fee to get updates on your arrival time.</p>
										<p><strong>OnTheWay</strong> allows customers to opt-in to get updates in exchange for a small fee on their bill, making it easy for you to manage their appointment.</p>	
										<br>			
									 	<form action="http://ontheway.createsend.com/t/i/s/vyhk/" method="post">
									 	    <div class="centered"><p><strong>Interested in using OnTheWay?</strong></p></div>
									 	    <p class="centered">Let us know your email and we'll be in touch about testing OnTheWay.</p>
                        <div class="centered"><input id="fieldEmail" name="cm-vyhk-vyhk" type="email" placeholder="Your Email" required /></div>
                        <div class="centered"><input type="submit" class="btn btn-success" value="I'm Interested"/></div>
                    </form>			
									</div>
								</div><!--row-->
							</div><!--well-->
						</div>
					</div>
				</div>
			</div>
		</div> <!--! end of .container -->
	</div> <!--! end of #main -->

	<div class="container how-it-works">
		<div class="row">
			<div class="span12 centered">
				<h1>How It Works</h1>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h3>1.) Customer Email</h3>
				<p>Every evening we send an email to capture your next days' appointments. You reply with your customers' email or phone numbers.</p>
			</div>
			<div class="span4">
				<h3>2.) Customer Opt-In</h3>
				<p>Customers then get a reminder about their appointment and have the option to opt-in to get updates on your arrival time for small fee.</p>
			</div>
			<div class="span4">
				<h3>3.) Send Updates</h3>
				<p>When they opt-in we send a reminder throughout the day with a link to send updates on your arrival time for each customer who has opted-in and we pass those along to your customers.</p>
			</div>
		</div><!--row-->
		<hr>
		<div class="row">
			<div class="span12 centered">
				<h3>How much does it cost? - $0</h3>
				<p><strong>OnTheWay</strong> is free with not obligation for providers during our beta period. We make our money when customers opt-in to the service. Fill out your email above to find out more.</p>
			</div>
		</div>
	</div><!--container-->

	<footer>
		<div class="container">
			<hr>
			<!--<p class="pull-right"><a href="#">Privacy</a> | <a href="#">Terms & Conditions</a></p>-->
			<p class="pull-right">&copy; 2013 OnTheWayHQ.com</p>
		</div>
	</footer>
	<%= render :partial => 'layouts/analytics' %>
	<%= render :partial => 'live_chat' %>
	</body>
</html>