<%= simple_form_for(@appointment, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :company_id, :value => current_company.id %>

  <div class="control-group">
    <label class="control-label" for="appointment_customer">Customer</label>
    <div class="controls">
      <% if @appointment.customer %>
      <%= f.select :customer, current_company.customers.collect {|a| [a.name, a.id]}, { :include_blank => '-- Select Proider --' } -%>
      <% else %>
        <%= f.fields_for :customer do |customer| %>
          <%= customer.text_field :name, :placeholder => 'Name' %><br/>
          <%= customer.text_field :email, :placeholder => 'customer@email.com' %><br/>
          <%= customer.text_field :phone, :placeholder => '(xxx) xxx-xxxx' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="control-group string optional appointment_when">
    <label class="string optional control-label" for="appointment_when">When</label>
    <div class="controls">
      <input data-datepicker="datepicker" id="appointment_when" name="appointment[when][date]" class="input-small" type="text" value="<%= (@appointment.when||Date.today).strftime("%F") %>" />
      <input class="input-mini" type="text" name="appointment[when][time]" value="<%= @appointment.when.strftime("%l:%M%P") if @appointment.when %>" placeholder="12:00pm" />
      <!--<span class="help-block">All times are shown as Central Standard Time (GMT -06:00).</span>-->
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="appointment_where">Where</label>
    <div class="controls">
      <%= f.text_area :where, :class => 'input-xlarge', :rows => "3" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="appointment_provider">Provider</label>
    <div class="controls">
      <%= f.select :provider_id, current_company.providers.collect {|a| [a.name, a.id]}, :include_blank => true -%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="appointment_status">Status</label>
    <div class="controls">
      <%= f.select :status, @appointment.statuses, :include_blank => true %>
    </div>
  </div>

  <% if @appointment.confirmed_at %>
  <div class="control-group string optional appointment_confirmed_at">
    <label class="string optional control-label" for="appointment_confirmed_at">Confirmed At</label>
    <div class="controls">
      <input id="appointment_confirmed_at" name="appointment[confirmed_at]" class="input-small" type="text" value="<%= @appointment.confirmed_at %>" />
    </div>
  </div>
  <% end %>
  <% if @appointment.arrived_at %>
  <div class="control-group string optional appointment_arrived_at">
    <label class="string optional control-label" for="appointment_arrived_at">Arrived At</label>
    <div class="controls">
      <input id="appointment_arrived_at" name="appointment[arrived_at]" class="input-small" type="text" value="<%= @appointment.arrived_at %>" />
    </div>
  </div>
  <% end %>
  <% if @appointment.finished_at %>
  <div class="control-group string optional appointment_finished_at">
    <label class="string optional control-label" for="appointment_finished_at">Finished At</label>
    <div class="controls">
      <input id="appointment_finished_at" name="appointment[finished_at]" class="input-small" type="text" value="<%= @appointment.finished_at %>" />
    </div>
  </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel', :back, :class => "btn btn-danger" %>
  </div>
<% end %>

<script>

  $("select").chosen();

</script>
