<%= simple_form_for(@appointment, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :company_id, :value => current_company.id %>

  <div class="alert alert-block">
    <h4>Please Note!</h4>
    SMS Text Message reminders are sent to customers at 4pm CST the day before an appointment. If an appointment is created (or scheduled time is updated) without that cushion, a message is sent immediately upon saving of appointment.
  </div>

  <div class="control-group">
    <label class="control-label" for="appointment_customer">Customer</label>
    <div class="controls">
      <% if @appointment.customer %>
      <%= f.select :customer_id, current_company.customers.collect {|a| [a.name, a.id]} -%>
      <% else %>
        <%= f.fields_for :customer do |customer| %>
          <%= customer.text_field :name, placeholder: 'Name', style: "margin-bottom: 5px;" %><br/>
          <%= customer.email_field :email, placeholder: 'ex: example@onthewayhq.com', style: "margin-bottom: 5px;" %><br/>
          <%= customer.telephone_field :phone, placeholder: "(xxx) xxx-xxxx", class: 'input-medium phone', maxlength: '22' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="control-group string optional appointment_starts_at">
    <label class="string optional control-label" for="appointment_starts_at">When</label>
    <div class="controls">
      <input id="appointment_starts_at" name="appointment[starts_at][date]" class="input-medium" type="date" value="<%= (@appointment.starts_at||Date.today).strftime("%F") %>" />
      <input class="input-small" type="time" name="appointment[starts_at][time]" value="<%= @appointment.starts_at.strftime("%H:%M:%S") if @appointment.starts_at && @appointment.starts_at.strftime("%H:%M:%S") != "00:00:00" %>" style="width: 102px;" />
      <!--<span class="help-block"></span>-->
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="appointment_location">Where</label>
    <div class="controls">
      <%= f.text_area :location, :class => 'input-xlarge', :rows => "3" %>
    </div>
  </div>

  <div id="location-modal" class="modal fade hide" tabindex="-1" role="dialog">
    <div class="modal-body">
      <h3 style="margin-top:0px;">Did you mean...</h3>
      <p>You said: "<span></span>", but we had some problems figuring out where exactly you meant.</p>
      <p>Was it one of these?</p>
      <ul>
      </ul>
      <a href="#" onclick="$('#location-modal').modal('hide'); $('#appointment_location').focus(); return false;" class="btn pull-right">No, Try Again</a>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="appointment_provider">Provider</label>
    <div class="controls">
      <% if current_company.providers.count > 1 %>
      <%= f.select :provider_id, current_company.providers.collect {|a| [a.name, a.id]}, :include_blank => true -%>
      <% else %>
      <%= link_to current_company.providers.first.name, current_company.providers.first %>
      <%= f.hidden_field :provider_id, :value => current_company.providers.first.id %>
      <% end %>
      <%= link_to "(Add More Providers)", new_provider_path %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="appointment_notes">Notes</label>
    <div class="controls">
      <%= f.text_area :notes, :class => 'input-xlarge', :rows => "3" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="appointment_status">Status</label>
    <div class="controls">
      <%= f.select :status, @appointment.statuses, :include_blank => true %>
    </div>
  </div>

  <% if @appointment.confirmed_at %>
  <div class="control-group string optional appointment_confirmed_at">
    <label class="string optional control-label" for="appointment_confirmed_at">Confirmed At</label>
    <div class="controls">
      <input id="appointment_confirmed_at" name="appointment[confirmed_at]" class="input-large" type="text" value="<%= @appointment.confirmed_at %>" />
    </div>
  </div>
  <% end %>
  <% if @appointment.en_route_at %>
  <div class="control-group string optional appointment_en_route_at">
    <label class="string optional control-label" for="appointment_en_route_at">En Route At</label>
    <div class="controls">
      <input id="appointment_en_route_at" name="appointment[en_route_at]" class="input-large" type="text" value="<%= @appointment.en_route_at %>" />
    </div>
  </div>
  <% end %>
  <% if @appointment.arrived_at %>
  <div class="control-group string optional appointment_arrived_at">
    <label class="string optional control-label" for="appointment_arrived_at">Arrived At</label>
    <div class="controls">
      <input id="appointment_arrived_at" name="appointment[arrived_at]" class="input-large" type="text" value="<%= @appointment.arrived_at %>" />
    </div>
  </div>
  <% end %>
  <% if @appointment.finished_at %>
  <div class="control-group string optional appointment_finished_at">
    <label class="string optional control-label" for="appointment_finished_at">Finished At</label>
    <div class="controls">
      <input id="appointment_finished_at" name="appointment[finished_at]" class="input-large" type="text" value="<%= @appointment.finished_at %>" />
    </div>
  </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel', :back, :class => "btn btn-danger" %>
  </div>
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  var geocoder = false;
  $("select").chosen();

  $(document).on('change', '#appointment_location', function() {
    if (!geocoder) geocoder = new google.maps.Geocoder();
    $('#location-confirm').remove();
    $('#location-modal ul').html('');
    $('#appointment_location').parent().parent().removeClass('success').removeClass('error');
    address = $('#appointment_location').val();
    geocoder.geocode( { 'address' : address }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results.length == 1) {
          $('#appointment_location').parent().parent().addClass('success');
          $('#appointment_location').after('<p id="location-confirm">We found: <a href="#" onclick="return setLocation(\'' + results[0].formatted_address + '\');">' + results[0].formatted_address + '</a></p>');
        } else {
          $('#appointment_location').parent().parent().addClass('error');
          $('#location-modal span').html(address);
          for (x in results) {
            $('#location-modal ul').append('<li><a href="#" onclick="return setLocation(\'' + results[x].formatted_address + '\');">' + results[x].formatted_address  + '</a></li>');
          }
          $('#location-modal').modal('show');
        }
      } else {
        $('#appointment_location').parent().parent().addClass('error');
        alert('Yikes. We have no idea where this is. You might want to adjust the location so we can provide you with estimates and directions.');
      }
    });
  });

  function setLocation(address) {
    $('#appointment_location').val(address);
    $('#location-confirm').remove();
    $('#location-modal ul').html('');
    $('#location-modal').modal('hide');
    $('#appointment_location').parent().parent().removeClass('error');
    return false;
  } // setLocation

</script>
