  <%= link_to 'Import Appointments', import_appointments_path, :class => 'btn btn-info pull-right', :style => 'margin-left: 15px; margin-top: 15px;' %>
  <% if current_company.providers.count > 0 %>
  <%= link_to 'Add Appointment', new_appointment_path, :class => 'btn btn-primary pull-right', :style => 'margin-top: 15px;' %>
  <% end %>
  <h1>Upcoming Appointments</h1>

  <table class="table table-bordered table-striped">
    <tr>
      <th>Customer</th>
      <th>Provider</th>
      <th>URL</th>
      <th>When</th>
      <th>Status</th>
      <th></th>
    </tr>

  <% @upcoming_appointments.each do |appointment| %>
    <tr>
      <td><%= link_to appointment.customer.name, appointment.customer %></td>
      <td><%= link_to appointment.provider.name, appointment.provider %></td>
      <td><%= link_to appointment.shorturl, appointment.shorturl %></td>
      <td><%= appointment.starts_at.strftime("%F") %> <%= appointment.starts_at.strftime("%l:%M%P") if appointment.starts_at.strftime("%l:%M%P") != "12:00am" %></td>
      <td><%= link_to appointment.status, appointment, title: appointment.status_date %></td>
      <!--<td><%= appointment.confirmed_at %></td>
      <td><%= appointment.arrived_at %></td>
      <td><%= appointment.finished_at %></td>-->
      <td>
        <%= link_to raw('<i class="icon-edit icon-white"></i>'), edit_appointment_path(appointment), :class => 'btn btn-primary btn-mini', :title => "Edit" %>
        <%= link_to raw('<i class="icon-trash icon-white"></i>'), appointment, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-mini', :title => "Delete" %>
      </td>
    </tr>
  <% end %>
  <% if current_company.providers.count < 1 %>
    <tr>
      <td colspan="10" style="text-align: center;">Looks like you don't have any providers yet. <%= link_to 'Add One', new_provider_path, :class => 'btn btn-primary' %></td>
    </tr>
  <% elsif @upcoming_appointments.count < 1 %>
    <tr>
      <td colspan="10" style="text-align: center;">Looks like you don't have any appointments. <%= link_to 'Add One', new_appointment_path, :class => 'btn btn-primary' %></td>
    </tr>
  <% end %>
  </table>

  <% if @past_appointments.count > 0 %>
  <h1>Past Appointments</h1>

  <table class="table table-bordered table-striped">
    <tr>
      <th>Customer</th>
      <th>Provider</th>
      <th>URL</th>
      <th>When</th>
      <th>Status</th>
      <th>Feedback</th>
      <th></th>
    </tr>

  <% @past_appointments.each do |appointment| %>
    <tr>
      <td><%= link_to appointment.customer.name, appointment.customer %></td>
      <td><%= link_to appointment.provider.name, appointment.provider %></td>
      <td><%= link_to appointment.shorturl, appointment.shorturl %></td>
      <td><%= appointment.starts_at.strftime("%F") %> <%= appointment.starts_at.strftime("%l:%M%P") if appointment.starts_at.strftime("%l:%M%P") != "12:00am" %></td>
      <td><%= link_to (['confirmed', 'next', 'en route'].include? appointment.status) ? "MISSED" : appointment.status, appointment, title: appointment.status_date %></td>
      <td><%= appointment.rating %> - <%= appointment.feedback %></td>
      <td>
        <%= link_to raw('<i class="icon-edit icon-white"></i>'), edit_appointment_path(appointment), :class => 'btn btn-primary btn-mini', :title => "Edit" %>
        <%= link_to raw('<i class="icon-trash icon-white"></i>'), appointment, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-mini', :title => "Delete" %>
      </td>
    </tr>
  <% end %>
  </table>
  <% end %>
