
  <%= link_to 'Add Appointment', new_appointment_path, :class => 'btn btn-primary pull-right' %>

  <h1>Appointments</h1>

  <table class="table table-bordered table-striped">
    <tr>
      <th>ID</th>
      <th>Provider</th>
      <th>Customer</th>
      <th>Shortcode</th>
      <th>When</th>
      <th>Where</th>
      <th>Status</th>
      <th>Rating</th>
      <th>Feedback</th>
      <th>Confirmed</th>
      <th>Arrived</th>
      <th>Finished</th>
      <th></th>
    </tr>

  <% @appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.id %></td>
      <td><%= appointment.provider_id %></td>
      <td><%= appointment.customer_id %></td>
      <td><%= appointment.shortcode %></td>
      <td><%= appointment.when %></td>
      <td><%= appointment.where %></td>
      <td><%= appointment.provider_location %></td>
      <td><%= appointment.status %></td>
      <td><%= appointment.rating %></td>
      <td><%= appointment.feedback %></td>
      <td><%= appointment.confirmed_at %></td>
      <td><%= appointment.arrived_at %></td>
      <td><%= appointment.finished_at %></td>
      <td>
        <%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_appointment_path(appointment), :class => 'btn btn-primary btn-mini' %>
        <%= link_to raw('<i class="icon-trash icon-white"></i> Delete'), appointment, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-mini' %>
      </td>
    </tr>
  <% end %>
  <% if @appointments.count < 1 %>
    <tr>
      <td colspan="14" style="text-align: center;">Looks like you don't have any appointments. <%= link_to 'Add One', new_appointment_path, :class => 'btn btn-primary' %></td>
    </tr>
  <% end %>
  </table>
