<p><%= link_to '<<  View All Appointments', appointments_path %></p>

<h1>Appointment Info</h1>

	<p><%= link_to 'Edit Appointment', edit_appointment_path(@appointment) %></p>
	<p>
	  <b>Provider:</b>
	  <%= link_to @appointment.provider.name, @appointment.provider %>
	</p>

	<p>
	  <b>Customer Name:</b>
	  <%= link_to @appointment.customer.name, @appointment.customer %>
	</p>

	<p>
	  <b>Short url:</b>
	  <a href="<%= @appointment.shorturl %>"><%= @appointment.shorturl %></a>
	</p>

	<p>
	  <b>Scheduled On:</b>
	  <%= @appointment.starts_at %>
	</p>

	<p>
	  <b>Customer Address:</b>
	  <%= @appointment.location %>
	</p>

	<p>
	  <b>Notes:</b>
	  <%= @appointment.notes %>
	</p>

	<p>
	  <b>Current Status:</b>
	  <%= @appointment.status %>
	</p>

<h3>Appointment History</h3>
  	
		<p>
		   <b>Appointment Created</b>
			  <%= @appointment.created_at %>
		</p>
	<% if @appointment.confirmed_at.present? %>
		<p>
		  <b>Time Confirmed:</b>
		  	 <%= @appointment.confirmed_at %>
		</p>
	<% end %>

	<% if @appointment.en_route_at.present? %>
		<p>
		  <b>Time Marked En Route:</b>
		  	 <%= @appointment.en_route_at %>
		</p>
	<% end %>

	<% if @appointment.arrived_at.present? %>
		<p>
		  <b>Time Arrived:</b>	
		  	<%= @appointment.arrived_at %>
		</p>
	<% end %>

	<% if @appointment.finished_at.present? %>
		<p>
		  <b>Time Finished:</b>
		  	 <%= @appointment.finished_at %>
		</p>
	<% end %>

<h3>Appointment Feedback</h3>
	<% if @appointment.rating.present? || @appointment.feedback.present? %>
		<p>
		  <b>Rating:</b>
		  <%= @appointment.rating %>
		</p>

		<p>
		  <b>Feedback:</b>
		  <%= @appointment.feedback %>
		</p>
	<% else %>
		<p>No feedback left yet</p>
	<% end %>


